<!-- home.component.html -->
<div class="header">
  <h1>Item Management System</h1>
</div>
<body style="background-color: #e6e6fa; margin: 0">
  <div class="container">
    <div class="form-container">
      <h1>Add New Item</h1>
      <!-- Add button and form fields -->
      <label for="newName">Name:</label>
      <input type="text" id="newName" [(ngModel)]="newItemForAdd.name" />

      <label for="newBrand">Brand:</label>
      <input type="text" id="newBrand" [(ngModel)]="newItemForAdd.brand" />

      <label for="newUnitPrice">Unit Price:</label>
      <input
        type="text"
        id="newUnitPrice"
        [(ngModel)]="newItemForAdd.unitPrice"
      />

      <button class="form-button" (click)="addItem()">
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
    <div class="save-container">
      <!-- Save button and form fields -->
      <h1>Update an Item</h1>
      <label for="code">Code:</label>
      <input type="text" id="code" [(ngModel)]="newItem.code" disabled />

      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="newItem.name" />

      <label for="brand">Brand:</label>
      <input type="text" id="brand" [(ngModel)]="newItem.brand" />

      <label for="unitPrice">Unit Price:</label>
      <input type="text" id="unitPrice" [(ngModel)]="newItem.unitPrice" />

      <button class="save-button" (click)="saveChanges()">
        <i class="fas fa-save"></i> Save
      </button>
    </div>
  </div>
</body>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Code</th>
      <th>Brand</th>
      <th>Unit Price</th>
      <th>Date Added</th>
      <th>Action</th>
      <!-- New action column -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.code }}</td>
      <td>{{ item.brand }}</td>
      <td>{{ item.unitPrice }}</td>
      <td>{{ item.dateAdded }}</td>
      <td>
        <button class="edit" (click)="editItem(item.code)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="delete" (click)="deleteItem(item.code)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="footer">
  <p>© 2024 Abdulrahman Al Azzouni</p>
</div>
