/* home.component.css */
/* Style for the header */
.header {
  padding: 20px;
  background-color: #0c4d78;
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #fff; /* Add a border to separate header and content */
}
/* Style for the container div */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #03a3f3;
  border-radius: 10px; /* Reduced border-radius for a cleaner look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for each individual div */
.form-container,
.save-container {
  width: 48%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff; /* Updated background color */
  border-radius: 20px; /* Add border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a subtle lift effect */
}

.form-button {
  margin-top: 80px;
  width: 100%;
}

.save-button {
  margin-top: 20px;
  width: 100%;
}

/* Rest of the styles remain the same */
body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 10px 16px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #3498db; /* Default button background color */
  color: #fff; /* Default button text color */
}

button:hover {
  background-color: #2980b9;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff; /* Add a consistent background color for the table */
  border-radius: 10px; /* Add border-radius for a cleaner look */
  overflow: hidden; /* Hide overflowing content within the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Styles for table buttons */
table button.delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

table button.edit {
  background-color: #a4ac0a;
  color: #fff;
  border: none;
}

table button:hover.delete {
  background-color: #c0392b;
}

table button:hover.edit {
  background-color: #798310;
}
.footer {
  text-align: center;
  padding: 15px;
  background-color: #0c4d78;
  color: #fff;
  margin-top: 20px;
  border-top: 2px solid #fff; /* Add a border to separate footer and content */
}
